* {
    background-color: rgb(40 42 54);
    color: antiquewhite;
}

h1 {
    color: rgb(98 114 164);
}

p {
    text-align: justify;
    font-size: small;
}

h2, h3 {
    
    color: rgb(189 147 249);
}



form {
    
    width: 50vh;
    display: flex;
    align-items: right;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

textarea {
    padding: 50px;
}